server:
  port: 0

spring:
  application:
    name: stats-server

  datasource:
    url: jdbc:postgresql://localhost:6541/stats
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server